@model PaginatedList<Book>
@{
    int counter = 0;
}
<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <h1>Books:</h1>
        <a asp-action="create" asp-controller="book" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Genre Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Desc</td>
                    <td>@item.Genre.Name</td>
                    <td>@item.Author.Fullname</td>
                    <td>
                        <img style="width:150px" src="~/uploads/books/@item.BookImages.Where(x=>x.IsPoster == true).FirstOrDefault()?.ImageUrl" />
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="book" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-controller="book" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.HasPrev == true ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage == i ? "active" : "")">
                    <a class="page-link" asp-action="index" asp-route-page="@i" >@i</a>
                </li>
            }
           
            <li class="page-item  @(Model.HasNext == true ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>


